body {
  font-size: 16px;
  color: #fff;
  background-color: #61722f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid black;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #157c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list li {
  text-align: center;
  border-top: 1px solid black;
}

.menu-header {
  font-size: 2em;
  text-align: center;
}

.container-fluid h1 {
  text-align: center;
}

.container-fluid h1 h2 {
  text-align: center;
}

.container-fluid .row {
  margin: 10px;
  color: black;
}

.item {
   background-color: yellow;
}

.item h2 {
  text-align: center;
}